.panel {
    display: grid;
    grid-area: panel;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "user"
                         "start"
                         "score";
    background-color: var(--bg-red-color);
}
