.timer {
    grid-area: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    time {
        font-size: 2rem;
        font-weight: bold;
        color: var(--white-color);
    }      
}