.gameCard {
  grid-area: card;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 0.2em;
  padding: 1em;
  background-color: var(--bg-blue-color);

  .card {
      background: linear-gradient(to bottom left, blue, pink);  
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;

      img {
        opacity: 0;
        object-fit: cover;
      }
    }
  .card.isClicked {
    background: #fff;
  }
  .card.isClicked img {
    opacity: 1;
  }  
}


